@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@{
    Layout = "Views/Shared/_Layout.cshtml";
}

@using Cassette.Nancy
@{
    Bundles.Reference("Scripts/viewModel");
    Bundles.Reference("Scripts/sammy");
    Bundles.Reference("Scripts/knockout");
}
@{
    ViewBag.title = "Blog Post Template for Bootstrap 3";
}
@section Scripts{
    <script type="text/javascript">
        $(function () {
            var viewModel = new PreviewsViewModel();
            ko.applyBindings(viewModel);
            $('#paging').pagination({
                items: 100,
                itemsOnPage: 10,
                cssStyle: 'light-theme',
                hrefTextPrefix: "#/page/"
            });
        });

        function PreviewsViewModel() {
            var self = this;
            var blogpath = window.location.pathname;
            //general data
            self.isListVisible = ko.observable();
            self.posts = ko.observableArray();

            self.categories = ko.observableArray();
            self.selectedCategories = ko.observableArray();
            self.selectedCategories.subscribe(function (updated) {
                $('#paging').pagination('selectPage', 1);

                if (location.hash !== '#/page/1') {
                    location.hash = "/page/" + 1;
                } else {
                    updatePostList(1);
                }
            });

            //post data
            self.choosenPost = ko.observable();
            //user's event
            self.goToPost = function (post) {
                location.hash = "/" + post.id;
            }

            Sammy(function () {
                this.get(blogpath, function () {
                    updatePostList(1);
                });
                this.get(blogpath + '#/all', function () {
                    this.app.runRoute('get', blogpath);
                });
                this.get(blogpath+'#/page/:page', function () {
                    updatePostList(this.params.page);
                });
                this.get(blogpath + '#/:postId', function () {
                    $.getJSON("post/" + this.params.postId, function (data) {
                        self.isListVisible(false);
                        var model = new PostModel(data.post);
                        model.related = $.map(data.related, function (post) { return new PreviewPostModel(post); });
                        model.neighbors = {};
                        model.neighbors.prev = data.neighbors.prev == null ? null : new PreviewPostModel(data.neighbors.prev);
                        model.neighbors.next = data.neighbors.next == null ? null : new PreviewPostModel(data.neighbors.next);
                        self.choosenPost(model);
                    });
                });
            }).run();

            $.getJSON("category/all", function (response) {
                var mapping = $.map(response, function (cat) {
                    return new CategoryModel(cat);
                });
                self.categories(mapping);
            });

            function updatePostList(page) {
                var data = { categories: self.selectedCategories() };

                $.ajax({
                    type: "POST",
                    url: "post/page/" + page,
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    dataType: 'JSON',
                    success: function (response) {
                        var mapping = $.map(response.previews, function (post) {
                            return new PreviewPostModel(post);
                        });
                        self.posts(mapping);
                        self.isListVisible(true);
                        self.choosenPost(null);
                        $('#paging').pagination('updateItems', parseInt(response.count));
                    }
                });
            }
        };
    </script>
}

<div class="col-lg-8">
    <!--START LIST MODE-->
    <div data-bind="visible: isListVisible">
        <div data-bind="foreach: posts">
            <h1 class="cursor-hand" data-bind="text: title, click: $root.goToPost"></h1>
            <p class="lead">
                by <a data-bind="text: author" href="@ResolveUrl("~/about")">Author</a>
            </p>
            <hr>
            <p>
                <span class="glyphicon glyphicon-time"></span>&nbsp;Posted on&nbsp;<span data-bind="text: postedAt.toLocaleString()">
                </span>
            </p>
            <hr>
            <img src="http://placehold.it/900x300" class="img-responsive" alt="Post Logo">
            <hr>
            <p class="lead" data-bind="text: preBody">
            </p>
        </div>
        <hr>
        <div class="pagination-container">
            <div id="paging" class="pagination"></div>
        </div>
    </div>
    <!--END LIST MODE-->

    <!--START POST MODE-->
    <!-- ko with:choosenPost -->
    <div data-bind="template: { name: 'post-template', with: $data }">
    </div>
    <!--/ko-->
    <!--END POST MODE-->
</div>
<div class="col-lg-4">
    @Html.Partial("Views/Partials/Side/search")
    <!-- /well -->
    @Html.Partial("Views/Partials/Side/category")
    <!-- /well -->
    @Html.Partial("Views/Partials/Side/popular")
    <!-- /well -->
</div>
