@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@*it is important to delete first slash in path*@
@{
  Layout = "Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.title = "Index Page";
}

<h1>Hello man!!!</h1>
