@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase

<h1 class="cursor-hand" data-bind="text: title"></h1>
<p class="lead">
    by <a data-bind="text: author" href="@ResolveUrl("~/about")">Author</a>
</p>
<p class="lead">
    <ul data-bind="foreach: categories" class="list-inline">
        <li><a data-bind="text: name, click:$root.goToCategory" class="cursor-hand">Name</a></li>
    </ul>
</p>
<hr>
<p>
    <span class="glyphicon glyphicon-time"></span>&nbsp;Posted on&nbsp;<span data-bind="text: postedAt.toLocaleString()">
    </span>
</p>
<hr>
<img src="http://placehold.it/900x300" class="img-responsive" alt="Post Logo">
<hr>
<p data-bind="text: body">
</p>
@Html.Partial("Views/Partials/Comment/commentForm")
@Html.Partial("Views/Partials/Comment/comments")
