<!-- ko foreach:comments -->
<h3>
    Start Bootstrap <small>9:47 PM on August 24, 2013</small>
</h3>
<p>
    Don't listen to this guy, any blog with the categories 'dinosaurs, spaceships, fried
    foods, wild animals, alien abductions, business casual, robots, and fireworks' has
    true potential.</p>

<!-- /ko -->
