<div class="well">
    <h4>
        Popular Blog Categories
    </h4>
    <div class="row">
        <div class="col-lg-6">
            <ul class="list-unstyled" data-bind="foreach: categories">
                <li>
                    <input type="checkbox" data-bind="attr: { value: name, id:'cb'+name }, checked: $root.selectedCategories" /><label data-bind="text: name, attr: {for: 'cb'+name}"></label>
                </li>
            </ul>
        </div>
    </div>
</div>
