@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "Shared/_Layout.cshtml";                                        
}

@{
    ViewBag.title = "Index Page";
}

<h1>Hello man!!!</h1>